-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  MHM-Systemhaus GmbH
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
.container.show{style: "display: none; width: 100%;"}
  .alert.alert-success Roles have been successfully assigned!

.container.showError{style: "display: none; width: 100%;"}
  .alert.alert-danger You don't have permission to change the roles!


-if can? :assign_roles, Project
  .container.hide4{style: "width: 100%;"}
    .alert.alert-success Roles have already been assigned. You can edit them below:

.progress.progress-striped.active{style: "display: none;", id: "loader"}
  .bar{style: "width: 0%;"}