.container.show{style: "display: none; width: 100%;"}
  .alert.alert-success Roles have been successfully assigned!

-if @project.users != []
  .container.hide4{style: "width: 100%;"}
    .alert.alert-success Roles have already been assigned. You can edit them below:

.progress.progress-striped.active{style: "display: none;", id: "loader"}
  .bar{style: "width: 0%;"}