-if @project.users == []
  .container
    .alert.alert-danger You haven't assigned any roles to the members of this project. Please do so below:
-else
  .container
    .alert.alert-success Roles have already been assigned. You can edit them below: