-## Cotopaxi | Scrum Management Tool
-## Copyright (C) 2012  MHM-Systemhaus GmbH
-##
-## This program is free software: you can redistribute it and/or modify
-## it under the terms of the GNU General Public License as published by
-## the Free Software Foundation, either version 3 of the License, or
-## any later version.
-##
-## This program is distributed in the hope that it will be useful,
-## but WITHOUT ANY WARRANTY; without even the implied warranty of
-## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-## GNU General Public License for more details.
-## You should have received a copy of the GNU General Public License
-## along with this program.  If not, see <http://www.gnu.org/licenses/>.
.modal.hide.fade{id: "assign_modal", backdrop: "static"}
  .modal-header
    %button{type: "button", class: "close modalClose", "data-dismiss"=>"modal", "aria-hidden" => "true"}x
    %h5{id: "editable"}= if can? :assign_roles, Project; "Assign roles for project:" else "Team:" end
  .modal-body
    =render 'assign_message'
    =render 'edit_roles'
    -if can? :assign_roles, Project
      %button{class: "btn btn-warning", id: "multiRoleAssign"}Assign Roles
    -else
      %button{class: "btn disabled"}Assign Roles
  .modal-footer
    %button{class: "btn modalClose", "data-dismiss"=>"modal", "aria-hidden" => "true"}Close
