%legend Assign roles for project:
=render 'assign_message'
-if @project.users == []
  =render 'new_roles'
-else
  =render 'edit_roles'
%button{class: "btn btn-warning", id: "multiRoleAssign", "data-loading-text"=>"Applying Roles..."}Assign Roles
