.modal.hide.fade{id: "assign_modal", backdrop: "static"}
  .modal-header
    %button{type: "button", class: "close modalClose", "data-dismiss"=>"modal", "aria-hidden" => "true"}x
    %h5 Assign roles for project:
  .modal-body
    =render 'assign_message'
    =render 'edit_roles'
    %button{class: "btn btn-warning", id: "multiRoleAssign", "data-loading-text"=>"Applying Roles..."}Assign Roles
  .modal-footer
    %button{class: "btn modalClose", "data-dismiss"=>"modal", "aria-hidden" => "true"}Close
