- if notice
  .container
    .alert.alert-info.notice
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      = notice
- elsif alert
  .container
    .alert
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      = alert
- elsif flash[:error]
  .container
    .alert.alert-danger.notice
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      = flash[:error]
- elsif flash[:success]
  .container
    .alert.alert-success.notice
      %button.close{"data-dismiss" => "alert", :type => "button"} ×
      = flash[:success]
.container#topAlertCont{style: 'display: none;'}
  .alert.alert-danger#topAlert
    %button.close{"data-dismiss" => "alert", :type => "button"} ×