%div{class: "navbar navbar-fixed-top"}
  %div{class: "navbar-inner"}
    %div{class: "container"}
      %a{class: "btn btn-navbar", "data-toggle" => "collapse", "data-target" => ".nav-collapse"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
        %span{class: "icon-bar"}
      %a{class: "brand", href: "/"}
        %img{src: "/img/inkscape.png"}Cotopaxi
      %div{class: "nav-collapse collapse"}
        %ul{class:"nav"}
          %li
            %a{href:"/"} Home
        -if user_signed_in?
          %ul{class: "nav pull-right"}
            %li{class:"dropdown"}
              %a{href:"#", class:"dropdown-toggle", "data-toggle"=>"dropdown"}
                Welcome!
                %b{class:"caret"}
              %ul{class:"dropdown-menu"}
                %li
                  = link_to new_project_path do
                    %i{class:"icon-pencil"}
                    New Project
                %li{class:"divider"}
                %li{class:"nav-header"} Manage
                %li
                  = link_to projects_path do
                    %i{class:"icon-edit"}
                    Edit Projects
                %li
                  = link_to destroy_user_session_path, method: :delete do
                    %i{class: "icon-user"}
                    Logout
        -else
          %form{class:"navbar-form pull-right", "accept-charset"=>"UTF-8", action:"/users/sign_in", method:"post"}
            %div{style:"margin:0;padding:0;display:inline"}
              %input{name:"utf8", type:"hidden", value:"&#x2713;"}
              %input{name:"authenticity_token", type:"hidden", value:"n4ruSCfZGbg21Mjjvx9BnwOpqoyjQgrkUxfsrLkh2m4="}
            %input{class:"span2", id:"user_email", name:"user[email]", type:"email", placeholder:"Email"}
            %input{class:"span2", id:"user_password", name:"user[password]", type:"password", placeholder:"Password"}
            %input{name: "user[remember_me]", type: "hidden", value: "0"}
            %input{class:"btn", name:"commit", type:"submit", value:"Log in"}
